<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/header :: head"> </head>

<body>
    <div th:replace="layouts/header :: navbar"></div>

    <div class="container fill">
        <div class="row justify-content-center text-center">
            <form name="login" th:action="@{/login}" method="post" class="form-signin">
                <h2 class="form-signin-heading">Bejelentkezés</h2>
                <div id="err" th:if="${param.error}" class="alert alert-danger">Hibás felhasználói név és jelszó</div>
                <div th:if="${param.logout}" class="alert alert-success">Sikeresen kijelentkeztél</div>

                <label for="userName" class="sr-only">Felhasználói név</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Felhasználói név" required="true" />

                <label for="password" class="sr-only">Jelszó</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Jelszó" required="true" />

                <button class="btn btn-lg btn-primary btn-block" type="submit">Bejelentkezés</button>
            </form>
        </div>
    </div>

    <div th:replace="layouts/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>