<!DOCTYPE html>
<html lang="hu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/header :: head"> </head>
<body>
    <div th:replace="layouts/header :: navbar"></div>
    <div class="container fill personal-details">
        <h1 class="display-4">Személyes adatok</h1>
        <div class="row" >
            <div class="col-lg-4">
                <label style="font-weight:bold;">Vezetéknév</label>
            </div>
            <div class="col-lg-8" th:text="${user.firstName}"></div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label style="font-weight:bold;">Keresztnév</label>
            </div>
            <div class="col-lg-8" th:text="${user.lastName}"></div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label style="font-weight:bold;">Felhaszálónév</label>
            </div>
            <div class="col-lg-8" th:text="${user.userName}"></div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label style="font-weight:bold;">Email</label>
            </div>
            <div class="col-lg-8" th:text="${user.email}"></div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label style="font-weight:bold;">Telefonszám</label>
            </div>
            <div class="col-lg-8" th:text="${user.phoneNumber}"></div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label style="font-weight:bold;">Cím</label>
            </div>
            <div class="col-lg-8" th:text="${user.postalCode + ' ' + user.city + ' ' + user.address}"></div>
        </div>

        <h1 class="display-4">Rendeléseim</h1>

        <div class="row">
            <div class="col-lg-4 font-weight-bold">Rendelés sorszáma</div>
            <div class="col-lg-4 font-weight-bold">Rendelés dátuma</div>
            <div class="col-lg-4 font-weight-bold">Rendelés összege</div>
        </div>

        <div class="row align-items-center" th:each="order : ${orders}">
            <div class="col-lg-4" th:text="${order.orderId}"></div>
            <div class="col-lg-4" th:text="${order.orderDate}"></div>
            <div class="col-lg-4" th:text="${order.orderTotalPrice + ' Ft'}"></div>
        </div>
    </div>

    <div th:replace="layouts/footer :: footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>